Host/HostProject.Application/
Host/HostProject.Abstractions/
Host/HostProject.Serialization/
Application/ApplicationProject.Abstractions/
Application/ApplicationProject.Serialization/
Abstractions/AbstractionsProject.Serialization/
**/*.parameters.json