**/HostProject.Application/**
**/HostProject.Abstractions/**
**/HostProject.Serialization/**
**/ApplicationProject.Abstractions/**
**/ApplicationProject.Serialization/**
**/AbstractionsProject.Serialization/**